

<% if @cocktails.empty? %>
  <p>No cocktail for now.</p>
<% else %>
  <div class="cocktails card-columns">
    <% @cocktails.each do |cocktail| %>

      <div class="card mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)),
      url('<%= cl_image_path(cocktail.photo, width: 400, height: 300, crop: :fill) %>')">
        <%= link_to cocktail_path(cocktail) do %>
        <div class="card-body text-white">
          <h3 class="card-title"><%= cocktail.name %></h3>
          <% if !cocktail.doses.empty? %>
            <p class="card-text">Ingredients : </p>
            <ul class= "card-text">
              <% cocktail.doses.each do |dose| %>
              <li><%= dose.description %> <%= dose.ingredient.name %></li>
              <% end %>
            </ul>
          <% end %>
          <%#= link_to "See more", cocktail_path(cocktail), class:'btn btn-primary' %>
        </div>
        <% end %>
      </div>


    <% end %>
  </div>
<% end %>
<%= link_to "Create new cocktail", new_cocktail_path, class:'btn btn-primary' %>
